@media only screen and (min-width: 112.5em) {
    html {
        font-size:65%;
    }
}
@media only screen and (max-width: 75em) {
    html {
        font-size:59%;
    }
}
@media only screen and (max-width: 56.25em) {
    html {
        font-size:56%;
    }
    .heading-sec__mb-bg {
        margin-bottom:8rem;
    }
    .heading-sec__mb-med {
        margin-bottom:8rem;
    }
    .sec-pad {
        padding:8rem 0;
    }
    .home-hero__socials {
        display:none;
    }
    .about__content {
        grid-template-columns:1fr;
        grid-gap: 8rem;
    }
    .projects__row {
        grid-template-columns:1fr;
        grid-gap: 2rem;
        margin-bottom: 8rem;
        text-align:center;
    }
    .projects__row-content {
        align-items:center;
    }
    .header__content {
        padding:0 2rem;
    }
    .header__logo-img-cont {
        width:4.5rem;
        height: 4.5rem;
        margin-right: 1.2rem;
    }
    .header__link {
        padding:3rem 1.8rem;
        font-size: 1.5rem;
    }
    .main-footer__upper {
        padding:6rem 0;
    }
    .main-footer__row-1 {
        margin-bottom:5rem;
    }
    .main-footer__row-2 {
        width:100%;
    }
    .main-footer__lower {
        padding:3.5rem 0;
    }
}
@media only screen and (max-width: 37.5em) {
    .heading-primary {
        font-size:4.5rem;
    }
    /* .heading-sec__main::after {
        top:calc(100% + 1.2rem)
    } */
    .heading-sec__sub {
        font-size:1.8rem;
    }
    .text-primary {
        font-size:2rem;
    }
    .home-hero {
        height:unset;
        min-height: unset;
    }
    .home-hero__content {
        padding:19rem 0 13rem 0;
        margin: auto;
        position: static;
        transform: translate(0,0);
    }
    .about__content-title {
        font-size:2.4rem;
    }
    .projects__row-content-title {
        font-size:2.4rem;
    }
    .projects__row-content-desc {
        font-size:1.7rem;
    }
    .contact__form-container {
        padding:3rem;
    }
    .contact__form-field {
        margin-bottom:3rem;
    }
    .contact__btn {
        width:100%;
    }
    .project-cs-hero {
        height:unset;
        min-height: unset;
    }
    .project-cs-hero__content {
        padding:19rem 0 13rem 0;
        margin: auto;
        position: static;
        transform: translate(0,0);
    }
    .project-details__content-title {
        font-size:2.4rem;
    }
    .project-details__links-btn {
        margin-right:0;
        width: 70%;
        margin-bottom: 2rem;
        text-align: center;
    }
    .project-details__links-btn:last-child {
        margin:0;
    }
    .header__links {
        display:none;
    }
    .header__main-ham-menu-cont {
        display:block;
    }
    .header__sm-menu--active {
        visibility:visible;
        opacity: 1;
    }
    .main-footer__upper {
        display:block;
    }
}


